<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>{{ global.short_name }}</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/members">Members</a>
      <a href="/songs">Songs</a>
    </nav>
  </header>
  <main>
    {{ content | safe }}
    {% for member in members %}
      {% if member.name === name %}
        <p>{{ member.name }}</p>
      {% endif %}
    {% endfor %}
  </main>
  <footer>
    <p>&copy; Copyright {{ global.long_name }}</p>
  </footer>
</body>
</html>